<launch>
  <!-- <arg name="rvizconfig" default="$(find dynpick_driver)/rviz/marker1.rviz" /> -->

  <node name="pseudo_force_torque_publisher" pkg="dynpick_driver" type="pseudo_force_torque_publisher" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
</launch>